*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f7efc5;
    color: white;
    font-family: "Poppins", sans-serif;
}
body.dark{
    background-color: rgb(9, 2, 52);
}
.label{
    height:26px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    border-radius: 50px;
    padding: 5px;
    position: relative;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.fa-moon-o {
    color: #f1c40f;
}
.fa-sun-o{
    color: #f39c12;
}
.ball{
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
div.sticky{
    width: 100%;
    position: fixed;
    position: -webkit-sticky;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: rgb(3, 3, 78);
    
}
nav ul{
    display: flex;
    gap: 2.5rem;
}
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(148, 148, 204);
}
.brightness-icon{
    margin-left: 20px;
}
.leftside{
    margin: 0 180px;
    font-size: 37px;
    font-weight: 600;
}
.rightside{
    margin: 0 70px;
}
.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button button{
    margin-top: 40px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border: 3.5px solid aqua;
    background-color: rgb(6, 52, 113);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    
}

.leftsec{
    /* change in color */
    color: #111;
    margin-left: 180px;
    font-size: 3.6rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 220px;
    position: relative;
    animation-name: trial;
    animation-duration: 1.7s;
}
body.dark .leftsec{
    color: #fff;
}
@keyframes trial {
    0%{
        left: -1000px;
    }
    
    100%{
        left: 4px;
    }
    
}

.rightsec img{
    margin-top: 180px;
    width: 500px;
    height: 450px;
    border-radius:3rem;
    margin-right: 270px;
}
.purple{
    /* change in color */
    color: blue;
}
.blue{
    /* change in color */
    color: #ebc922;
}
#element{
    /* change in color */
    color: blue;
}
.second{
    gap: 10rem;
    display: flex;
    
}
body.dark .purple{
    color: blueviolet;
}
body.dark .blue{
    color: aqua;
}
body.dark #element{
    color: blueviolet;
}
.rightcont{
    /* change in color */
    color: #111; 
    font-size: 55px;
    font-weight: 600;
    max-width: 80vw;
    margin-top: 120px;
    /* margin-bottom: 200px; */
    margin-right: 120px;  
}
body.dark .rightcont{
    color: #fff;
}
.leftimg{
    margin-top: 120px;
    margin-left: 130px;
    margin-right: 130px;
}
.leftimg img{
    width: 560px;
    height: 560px;
    border-radius: 50%;
}
.text{
    font-size: 23px;
    font-weight: 200;
}
.upper{
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 18px;
}
main hr{
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 25px;
}
main .hr2{
    margin-top: 125px;
    margin-left: 25px;
    margin-right: 25px;
}
/* CHANGE IN COLOR */
.head{
    color: black;
}
body.dark .head{
    color: white;
}
.container1{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.box1{

    margin-left: 55px;
    width: 23.3%;
    height: 550px;
    background-color: #fffefe;
    border-radius: 13px;
    transition: 0.4s;
    -webkit-transition-duration: 0.4s;
    display: inline-block;
    border: 5px solid grey;
    color: black;
}
body.dark .box1{
    background-color: rgb(7, 2, 43);
    color: #fff;
    border: 5px solid rgb(33, 33, 144);
}

        .head{
            text-decoration: underline;
            margin-left: 720px;
            margin-top: 20px;
            margin-bottom: 120px;
            font-size: 55px;
            font-weight: 600;
        }
        .conatiner{
            margin-top: 60px;
            margin-left: 25px;
            margin-right: 25px;
            width: 1700px;
            height: 700px;
            margin-bottom: 260px;
        }
        .box1 img{
            width: 100px;
            height: 85px;
            margin-top: 34px;
            margin-left: 34px;
            margin-bottom: 8px;
        }
        .heading{
            margin-left: 42px;
            margin-bottom: 20px;
            font-size: 38px;
            font-weight: bold;
        }
        .box1 p{
            margin-left: 42px;
            font-size: 19px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        .but1{
            margin-left: 42px;
            font-size: 19px;
            font-weight: 600;
            padding: 10px 14px;
            border: 3px solid gray;
            border-radius: 20px;
            background-color: rgb(3, 3, 78);
            cursor: pointer;
            color: white;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            display: inline-block;
            
        }
        body.dark .but1{
            background-color: aqua;
            border: 3px solid rgb(5, 5, 116);
            color: black;
        }
        .but1:hover{
            box-shadow: 2px 3px 7px #917f2a ;
        }
        body.dark .but1:hover{
            box-shadow: 2px 3px 7px aqua ;
        }
        .box1 .image{
            width: 130px;
        }
        .box1 .image2{
            width:70px;
            filter: invert(0);
        } 

.footer{
    margin: 10px 10px;
    width: 1765px;
    height: 270px;
    /* change */
    background-color: #dacd93;
    color: black;
}
body.dark .footer{
    background-color:  rgb(6, 0, 40);
    color: #fff;
}
.foot-links{
    /* margin-top: 70px; */
    display: flex;
    gap: 225px;
}
.top{
    margin-top: 70px;
    margin-left: 195px;
}
.first-link ,.second-link ,.third-link ul{
    margin-top: 70px;
    
}
.first-link li , .second-link li , .third-link li{
    list-style: none;
    margin-bottom: 6px;
}

.first-link a , .second-link a , .third-link a{
    /* change in color */
    color: black;
    font-size: 17px;
}
body.dark .first-link a{
    color: #fff;
}
body.dark .second-link a{
    color: #fff;
}
body.dark .third-link a{
    color: #fff;
}
.footer p{
    margin-top: 85px;
    margin-left: 635px;
    font-size: 18px;
}
.heading a{
    font-size: 38px;
    color: black;
}
body.dark .heading a{
    color: #fff;
}
.box2:hover{
    box-shadow: none;
}
.contact{
    margin-top: 135px;
}
.flexbox{
    /* CHANGE IN COLOR */
    background-color: #efe4aa;
    display: flex;
    height: 750px;
}
body.dark .flexbox{
    background-color: rgb(6, 0, 35);
}
.flex-left{
    width: 50%;
}
.flex-top{
    /* change in color */
    color: black;
    font-size: 70px;
    font-weight: 400;
    padding-top: 60px;
    padding-left: 160px;
}

.sub-flex{
    /* change in color */
    color: black;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 23px;
}
.sub-flex2{
    /* change in color */
    color: black;
    margin-left: 35px;
    margin-top: 15px;
}
body.dark .flex-top{
    color: #fff;
}
body.dark .sub-flex{
    color: #fff;
}
body.dark .sub-flex2{
    color: #fff;
}
.flex-right{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    margin-top: 30px;
    margin-bottom: -18px;
    padding-top: 15px;
    padding-right: 500px;
    padding-bottom: 10px;
    padding-left: 8px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(49, 47, 47);
}
input::placeholder{
    font-size: 18px;
}
textarea::placeholder{
    font-size: 20px;
}
#message{
    font-size: 17px;
}
.flex-right button{
    padding: 11px;
    margin-top: 35px;
    border-radius: 22px;
    font-size: 22px;
    background-color: #ebc922;
    font-weight: 500;
    cursor: pointer;
}
body.dark .flex-right button{
    background-color: aqua;
}
.email img{
    margin-top: 80px;
    margin-left: 35px;
    width: 35px;
    /* filter: invert(1); */

}
.email a{
    margin-top: 80px;
    margin-left: 20px;
    font-size: 18px;
/* change in color */
    color: black;
}
body.dark .email img{
    filter: invert(1);
}
body.dark .email a{
    color: #fff;
}
.email{
    display: flex;
}
.email2 a{
    margin-top: 18px;
}
.email2 img{
    margin-top: 18px;
}
.box2 .image{
    margin-left: 45px;
    filter: invert(1);
}
.icons img{
    margin-top: 2px;
    margin-left: 30px;
    width: 195px;
    cursor: pointer;
    /* change */
    filter: invert(0.6);
}
body.dark .icons img{
    filter: invert(0);
}
.button1{
    font-size: 19px;
            font-weight: 600;
            padding: 10px 14px;
            border: 3px solid gray;
            border-radius: 20px;
            background-color: rgb(3, 3, 78);
            cursor: pointer;
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
            display: inline-block;
            color: white;
}
body.dark .button1{
    background-color: aqua;
    border: 3px solid rgb(5, 5, 116);
    color: black;
}
.first-link a:hover, .second-link a:hover, .third-link ul li a:hover{
    color: rgb(121, 121, 121);
}

.box1 .image3{
    width: 70px;
}
 

.wrapper { 
    height: 100px;
    margin-left: 30px;
	max-width: 1700px; 
	width: 100%; 
	position: relative;

} 

.wrapper i { 
	height: 50px; 
	width: 50px; 
	background: rgb(118, 233, 118); 
	text-align: center; 
	line-height: 50px; 
	border-radius: 50%; 
	cursor: pointer; 
	position: absolute; 
	top: 290%; 
	font-size: 1.25 rem; 
	transform: translateY(-50%); 
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 

} 

.wrapper i:first-child { 
	left: -22px; 

} 

.wrapper i:last-child { 
	right: -22px; 

} 

.wrapper .carousel { 
	display: grid; 
	grid-auto-flow: column; 
	grid-auto-columns: calc((100% / 3) - 12px); 
	gap: 16px; 
	overflow-x: auto; 
	scroll-snap-type: x mandatory; 
	scroll-behavior: smooth; 
	scrollbar-width: 0; 
} 

.carousel::-webkit-scrollbar { 
	display: none; 
} 

.carousel :where(.card, .img) { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.carousel.dragging { 
	scroll-snap-type: none; 
	scroll-behavior: auto; 
} 

.carousel.no-transition { 
	scroll-behavior: auto; 
} 

.carousel.dragging .card { 
	cursor: grab; 
	user-select: none; 
} 

.carousel .card { 
	scroll-snap-align: start; 
	height: 590px; 
	list-style: none; 
	background: #fffefe; 
	border-radius: 8px; 
	display: flex; 
	cursor: pointer; 
	width: 98%; 
	padding-bottom: 15px; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
    border: 4px solid grey;
} 
body.dark .carousel .card{
    background-color: rgb(7, 2, 43);
    color: #fff;
    border: 5px solid rgb(33, 33, 144);
}

.card .img {  
	width: 375px; 
	height: 375px; 
	border-radius: 50%; 

} 

.card .img img { 
	width: 300px; 
	height: 300px; 
	object-fit: cover; 
	border-radius: 50%; 
	border: 4px solid #fff; 
} 
body.dark .card .img img{
    border: 4px solid aqua;
}

.card h2 a{ 
	font-weight: 600; 
	font-size: 2.1rem; 
	margin: 30px 0 5px; 
    color: black;
} 
body.dark .card h2 a{
    color: #FFF;
}
.card span { 
	color: #5c606f; 
	font-size: 1.21rem; 
    text-align: center;
    margin: 5px 15px;

}
body.dark .card span{
    color: #FFF;
} 

@media screen and (max-width: 900px) { 
	.wrapper .carousel { 
		grid-auto-columns: calc((100% / 2) - 9px); 

	} 
} 

@media screen and (max-width: 600px) { 
	.wrapper .carousel { 
		grid-auto-columns: 100%; 

	} 
}
.hr3{
    margin-top: 140px;
}
.linkedin img{
    margin-top: 18px;
    margin-left: 35px;
    width: 35px;
    filter: invert(1);
}
body.dark .linkedin img{
    filter: invert(0);
}
.linkedin a{
    margin-left: 20px;
    font-size: 18px;
/* change in color */
    color: black;
}
body.dark .linkedin a{
    color: white;
}
